<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.ReviewDao">
	<insert id="insertReview" parameterType="ReviewVO">
		INSERT INTO REVIEW VALUES(
		REV_SEQ.NEXTVAL,
		#{REV_TITLE,jdbcType=VARCHAR},
		#{REV_CONTENT,jdbcType=VARCHAR},
		#{REV_FILE,jdbcType=VARCHAR},
		#{M_ID,jdbcType=VARCHAR},
		#{REV_DESTINATION,jdbcType=VARCHAR},
		#{REV_START,jdbcType=DATE},
		#{REV_END,jdbcType=DATE},
		<choose>
			<when test="REV_REM_COUNT!=null">
				#{REV_REM_COUNT,jdbcType=INTEGER},
			</when>
			<otherwise>0,</otherwise>
		</choose>
		<choose>
			<when test="REV_UNREM_COUNT!=null">
				#{REV_UNREM_COUNT,jdbcType=INTEGER},
			</when>
			<otherwise>0,</otherwise>
		</choose>
		<choose>
			<when test="REV_VIEWS!=null">
				#{REV_VIEWS,jdbcType=INTEGER},
			</when>
			<otherwise>0,</otherwise>
		</choose>
		<choose>
			<when test="REV_CREATE_DATE != null">
				#{REV_CREATE_DATE,jdbcType=DATE} ,
			</when>
			<otherwise>SYSDATE,</otherwise>
		</choose>
		<choose>
			<when test="REV_UPDATE_DATE != null">
				#{REV_UPDATE_DATE,jdbcType=DATE} ,
			</when>
			<otherwise>SYSDATE,</otherwise>
		</choose>
		#{REV_DELETE_DATE,jdbcType=DATE})
	</insert>


	<select id="revseqcheck" resultType="integer">
		SELECT REV_SEQ.currval FROM DUAL
	</select>


	<delete id="deleteReview" parameterType="ReviewVO">
		UPDATE REVIEW SET
		REV_DELETE_DATE=SYSDATE WHERE REC_NO=#{REC_NO}
	</delete>

	<update id="updateReview" parameterType="ReviewVO">
		UPDATE REVIEW SET
		REV_TITLE=#{REV_TITLE,jdbcType=VARCHAR},
		REV_CONTENT=#{REV_CONTENT,jdbcType=VARCHAR},
		REV_FILE=#{REV_FILE,jdbcType=VARCHAR},
		REV_DESTINATION=#{REV_DESTINATION,jdbcType=VARCHAR},
		REV_START=#{REV_START,jdbcType=DATE},
		REV_END=#{REV_END,jdbcType=DATE},
		<if test="REV_VIEWS!=null">
			REV_VIEWS=#{REV_VIEWS,jdbcType=INTEGER},
		</if>
		<if test="REV_REM_COUNT!=null">
			REV_REM_COUNT=#{REV_REM_COUNT,jdbcType=INTEGER},
		</if>
		<if test="REV_UNREM_COUNT!=null">
			REV_UNREM_COUNT=#{REV_UNREM_COUNT,jdbcType=INTEGER},
		</if>
		REV_UPDATE_DATE=SYSDATE
		WHERE
		REV_NO=#{REV_NO,jdbcType=INTEGER}
	</update>

	<select id="selectOneReview" parameterType="ReviewVO"
		resultType="ReviewVO">
		SELECT * FROM REVIEW WHERE REV_NO=#{REV_NO}
	</select>


	<select id="getReviewCount" parameterType="java.util.HashMap"
		resultType="int">
		SELECT COUNT(*) FROM ( SELECT ROWNUM AS RN, A.* FROM(
		SELECT * FROM
		REVIEW WHERE 1 = 0
		<if test="REV_TITLE != null">
			OR REV_TITLE LIKE '%${REV_TITLE}%'
		</if>
		<if test="REV_CONTENT != null">
			OR REV_CONTENT LIKE '%${REV_CONTENT}%'
		</if>
		<if test="M_ID != null">
			OR M_ID LIKE '%${M_ID}%'
		</if>
		<if test="REV_DESTINATION != null">
			OR REV_DESTINATION LIKE '%${REV_DASTINATION}%'
		</if>
		<if test="type == 0">
			OR 1=1
		</if>
		<if test="REV_NO != null">
			AND REV_NO = #{REV_NO}
		</if>
		<if test="startdate != null">
			AND REV_CREATE_DATE
			between #{startdate} and #{enddate}
		</if>
		AND REV_DELETE_DATE IS NULL
		order by REV_NO DESC)
		A
		)
	</select>


	<select id="getReviewList" parameterType="java.util.HashMap"
		resultType="ReviewVO">
		SELECT * FROM ( SELECT ROWNUM AS RN, A.* FROM(
		SELECT * FROM REVIEW
		WHERE 1 = 0
		<if test="REV_TITLE != null">
			OR REV_TITLE LIKE '%${REV_TITLE}%'
		</if>
		<if test="REV_CONTENT != null">
			OR REV_CONTENT LIKE '%${REV_CONTENT}%'
		</if>
		<if test="M_ID != null">
			OR M_ID LIKE '%${M_ID}%'
		</if>
		<if test="REV_DESTINATION != null">
			OR REV_DESTINATION LIKE '%${REV_DASTINATION}%'
		</if>
		<if test="type == 0">
			OR 1=1
		</if>
		<if test="REV_NO != null">
			AND REV_NO = #{REV_NO}
		</if>
		<if test="startdate != null">
			AND REV_CREATE_DATE
			between #{startdate} and #{enddate}
		</if>
		AND REV_DELETE_DATE IS NULL
		order by REV_NO DESC)
		A
		)
		WHERE RN BETWEEN
		${STARTRN} AND ${ENDRN}
	</select>

	
	<insert id="insertReview_Recommend" parameterType="java.util.HashMap">
		INSERT INTO REVIEW_RECOMMEND VALUES(
		REV_RCM_SEQ.NEXTVAL,
		#{M_ID, jdbcType=VARCHAR},
		#{REV_RCM, jdbcType=VARCHAR},
		#{REV_NO, jdbcType=INTEGER},
		<choose>
			<when test="REV_RCM_CREATE_DATE!=null">
				#{REV_RCM_CREATE_DATE,jdbcType=DATE},
			</when>
			<otherwise>sysdate,</otherwise>
		</choose>
		#{REV_RCM_UPDATE_DATE,jdbcType=DATE},
		#{REV_RCM_DELETE_DATE,jdbcType=DATE}
		)
	</insert>

	
	<update id="updateReview_Recommend" parameterType="java.util.HashMap">
		UPDATE REVIEW_RECOMMEND SET
		REV_RCM=#{REV_RCM},
		REV_RCM_UPDATE_DATE=#{REV_RCM_UPDATE_DATE,jdbcType=DATE}
		WHERE REV_RCM_NO=#{REV_RCM_NO}
	</update>
	
	<select id="getReview_Recommend" parameterType="java.util.HashMap"
		resultType="Review_RecommendVO">
		SELECT * FROM REVIEW_RECOMMEND

		WHERE
		<choose>
			<when test="REV_RCM_NO!=NULL">
				REV_RCM_NO=#{REV_RCM_NO,jdbcType=INTEGER}
			</when>
			<otherwise>
				M_ID=#{M_ID,jdbcType=VARCHAR} AND REV_NO= #{REV_NO,jdbcType=INTEGER}
			</otherwise>
		</choose>

	</select>

	<select id="getBestReview" resultType="reviewVO">
  	SELECT * FROM (SELECT RE.*, ROWNUM AS RN FROM 
	(SELECT * FROM REVIEW WHERE 
	REV_CREATE_DATE BETWEEN  to_char(add_months(sysdate,-1)) AND SYSDATE AND
 	 REV_FILE IS NOT NULL AND
  	REV_DELETE_DATE IS NULL
  	 ORDER BY REV_REM_COUNT DESC)RE
	)WHERE RN=1
	</select>
	
	
	<select id="getPreBestReview" resultType="reviewVO">
	SELECT * FROM (SELECT RE.*, ROWNUM AS RN FROM 
	(SELECT * FROM REVIEW WHERE 
	REV_CREATE_DATE BETWEEN to_char(add_months(sysdate,-2)) AND to_char(add_months(sysdate,-1)) AND 
 	 REV_FILE IS NOT NULL AND
  	REV_DELETE_DATE IS NULL ORDER BY REV_REM_COUNT DESC)RE
	)WHERE RN=1
	</select>

	
	<select id="getRCM" parameterType="java.util.HashMap"
		resultType="int">
		SELECT COUNT(*) FROM REVIEW_RECOMMEND
		WHERE REV_NO=#{REV_NO}
		AND REV_RCM LIKE 'Y'
		AND REV_RCM_DELETE_DATE IS NULL
	</select>
	
	
	<select id="getUNRCM" parameterType="java.util.HashMap"
		resultType="int">
		SELECT COUNT(*) FROM REVIEW_RECOMMEND
		WHERE REV_NO=#{REV_NO}
		AND REV_RCM LIKE 'N'
		AND REV_RCM_DELETE_DATE IS NULL
	</select>

</mapper>